<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  <title>Blog</title>
  <style>
    .mystyle{
      color: red;
    }
  </style>
</head>
<body>
  <%- include('nav') %>
  <div class="container">
    
    <h1 class="mb-4">Blog Articles</h1>
    <a href="/articles/new" class="btn btn-success">New Article</a>

    <% articles.forEach(article => { %>
      <div class="card mt-4">
        <div class="card-body">
          <h4 class="card-title"><%= article.title %></h4>
          <div class="card-subtitle text-muted mb-2">
            <%= article.createdAt.toLocaleDateString() %>
          </div>
          <div class="card-text mb-2"><%= article.description %></div>

          <a href="articles/<%= article.slug %>" class="btn btn-primary">Read More</a>
          <a href="articles/edit/<%= article.id %>" class="btn btn-info">Edit</a>
          <i id="heart" class="fa fa-heart" style="font-size:30px;"></i>
          <form action="/articles/<%= article.id %>?_method=DELETE" method="POST" class="d-inline">
            <button type="submit" class="btn btn-danger">Delete</button>
          </form>
        </div>
      </div>
    <% }) %>
  </div>
  <script>
      const toogleLike =()=>{
      let element = document.getElementById("heart")
       element.classList.toggle("mystyle");
      console.log("like")
    }
    document.getElementById("heart").addEventListener("click", toogleLike);


  </script>
</body>
</html>